@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background-color: rgb(79, 79, 78);
}
a{
    color:white ;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: slateblue;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    display: flex;
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;

}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a,
.navbar ul li.active a
{
    color:#7cf03d;
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    font-size: 32px;
    margin-top: -5px;
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}
.button{
    display: inline-block;
    padding: 10px 30px ;
    background-color: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.button:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}
.home-info .btn-sci .sci{
    margin-left: 20px;
}
.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}
.home-info .btn-sci .sci a:hover{
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.img-item img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    justify-content: center;
    position: relative;
}



  
  .Skills-content h2 {
    font-size: 30px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.Skills-content{
    max-width: 1300px;
    height: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 2%;
    border: 2px solid black;
}

.Skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    
}

.Skill-card {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 10%;
    background-color: white;
}

.Skill-card img {
    height: 100px;
    width: 90px;
    object-fit: cover; 
  }

.Skill-card:hover {
    transition: background 0.6s ease-in-out;
    transform: translateY(-5px);
}

.Skills-content button:hover{
    color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .Skills-grid {
        grid-template-columns: 1fr;
    }

    .Skill-card img {
        height: 150px;
        width: 150px;
    }

    .Skills-content h3 {
        font-size: 1.8rem;
    }

    .Skills-content p {
        font-size: 1rem;
        width: 90%;
    }

    .Skills-content button {
        font-size: 0.9rem;
        padding: 8px 16px;
      }
}




#projects{
    padding: 20px 20px;
    color: white;
    border: 2px solid black;
    margin: 50px;
    border-radius: 10px;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
    border-radius: 15%;}

.projects-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 200;
    border-radius: 10px;
    transition: backgroung 0.5s, transfrom 0.5s;
}

.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.sub-title{
    text-align: center;
    color: white;
}
.projects-list a{
    color:#7cf03d;
}


.Contacts-content h2{
    margin: auto;
    padding: 20px;
}

.Contacts-content{
    text-align: center;
    padding: 40px;
    color: #fff;
}

.contacts-form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacts-form input,
.contacts-form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #444;
    border-radius: 5px;
    background: #222;
    color: #fff;
}

.contacts-form button {
    padding: 10px;
    border: none;
    background: #fff;
    color: #444141;
    cursor: pointer;
    transition: 0.3s;
}

.contacts-form button:hover {
    background: #444;
    color: #fff;
}

@media (max-width: 600px) {
    .contacts-form {
        padding: 15px;
    }

    .contacts-form input,
    .contact-form textarea {
        padding: 10px;
    }

    .contacts-form button {
        font-size: 0.9rem;
        padding: 10px;
    }
}
